<div class="container-fluid">
    <div class="row  position-relative">
        <%= image_tag 'main1.jpg', class: 'img-fluid p-4 opacity-image' %>
        <div class="text-on-image text-white">
            <p class="text2"> Save up to 50% &#8212; use code <strong> BLACKFRIDAY </strong> for an extra 20% off on selective styles. </p>
            <p class="text1 mb-5"> For Everything in your List </p>
            <a class="btn btn-outline-warning btn-lg text-warning mr-3" href="/products"> Shop Now </a>    
            <a class="btn btn-warning btn-lg text-dark" href="/carts"> Check Cart </a>
        </div>
    </div>
</div>

<div class="jumbotron text-center p-2 mt-5">
  <h1 class="display-4 fw-bold"> <b> Providing the Best since 2010 </b> </h1>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-6">
    <%= image_tag 'banner1.jpg', class: 'img-fluid p-4' %>
    </div>
    <div class="col-6">
    <%= image_tag 'banner2.jpg', class: 'img-fluid p-4' %>
    </div>
    

  </div>
</div>

<footer class="mt-5">
<nav class="navbar d-block text-white text-center bg-dark">
  <span class="navbar-text">
    Made with ❤ by <a href="https://www.linkedin.com/in/jot-singh-chawla-708846138/" target="_blank" class="text-white">JS</a>
  </span>
</nav>
</footer>