/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.fw-bold {
  font-weight: 400 !important;
}

.nav-item a {
  color: #fff;
  font-size: 16px;
}

.nav-item a:hover {
  color: #fff;
  background-color: transparent;
}

a.nav-link:hover {
  color: #fff;
  background-color: transparent;
  border-bottom: 1px solid #000;
}

.text-on-image {
  position: absolute;
  top: 8%;
  left: 4%;
}

.text1 {
  padding-top: 10px;
  font-size: 4.1rem;
  font-weight: 700;
  line-height: 1.1;
  width: 620px;
}

.text2 {
  font-size: 20px;
  background: black;
  opacity: 0.5;
  padding: 5px;
  filter: drop-shadow(2px 4px 6px black);
}

.opacity-image {
  opacity: 1;
}

.title-topleft {
  color: #fff;
  background-color: black;
  padding: 8px 16px !important;
  position: absolute;
  left: 0;
  top: 0;
}

.bellow_post {
  background: #eee;
  padding: 10px;
  border-radius: 12px;
}
